:root {
    --bg-color: #ffffff;
    --text-color: #374b5c;
    /* --pop-bg: #CCF2F4; */
    --pop-bg: #CAF7E3;
    --brand-text: #A239EA;
    --hover-text: #506D84;
}

[data-theme="dark"] {
    --bg-color: #181818;
    --text-color: #efefef;
    --pop-bg: #404040;
    --brand-text: #D62AD0;
    --hover-text: #A9E4D7;
}

* {
    font-family: 'Poppins', sans-serif;
}



.App{
    background-color: var(--bg-color);
    color: var(--text-color);
    /* height: 100vh; */
    min-height: 100vh;
}

.footer-container{
    display: flex;
    justify-content: center;
    margin-top: auto;
    /* margin: auto; */
    padding-top: 1rem;
    background-color: var(--pop-bg);
}
.footer-text{
    color: var(--text-color);
    font-size: 0.8rem;

}
.debkanta{
    text-decoration: none;
    color: var(--brand-text);
    font-size: 0.9rem;
    font-style: italic;
    font-family: monospace;padding-left: 8px;
    transition: all 0.3s;
}
.debkanta:hover{
    color: #A9E4D7;
    text-decoration: none;
    transition: all 0.3s;
}